<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>全国大学英语四、六级考试报名网</title>
		<link href="http://resource.etest.net.cn/project/CET/Content/ufo3.css?v=3.0" rel="stylesheet" type="text/css" />
		<link href="http://resource.etest.net.cn/project/CET/Content/lanrenzhijia.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="http://resource.etest.net.cn/project/CET/scripts/jquery.min.js"></script>

		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?b783c240a46ec85f773c7441178a1681";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?7729f6cba7f441f2ed471a565f039627";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?0466d8c557c7aabe83f440702897b498";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>

		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
			}
			
			body {
				background: url(http://resource.etest.net.cn/project/CET/images/bg.jpg) repeat-x;
			}
			
			#topdiv {
				padding: 0;
				margin: 0;
				font-size: 12px;
				font-family: "微软雅黑", "宋体";
				color: #1f1e23;
				background: url(http://resource.etest.net.cn/project/CET/images/top_bg.jpg) repeat-x;
			}
			
			#footer {
				width: 980px;
				margin: 0 auto;
				text-align: center;
				border-top: 1px solid #666;
			}
			
			#footer p {
				font-size: 12px;
				color: #666;
				font-family: Arial, "微软雅黑";
				display: block;
				margin-top: 5px;
			}
			
			.footer_title {
				font-weight: bold;
				color: #666;
				font-size: 14px;
				line-height: 2em;
			}
		</style>
	</head>

	<body>

		<div id="topdiv">
			<div id="top">
				<div id="logo">
					<div id="" class="">
						<ul id="logo_nav">
							<li>
								<a href="#">客服电话：</a>
							</li>
						</ul>
					</div>
					<div style="clear:both"></div>
					<div id="" class="huangs02">010-62987880
						<font style="font-size:12px; color:red"></font>
					</div>
				</div>
				<div id="nav">
					<div id="" style="width:980px; text-align:center;">
						<ul class="">
							<li style="padding-right:0px;">
								<a href="#" target="_parent" style="padding-top:3px;"><img src="./static/img/home.png" width="16" height="14" alt="" /></a>
							</li>
							<li style="padding-left:0px;">
								<a href="../Home/index.html" target="_parent">首页</a> | </li>
							<li>
								<a href="../Home/ExamIntroduction.html" target="_parent">考试简介</a> | </li>
							<li>
								<a href="../Home/CandidateNotice.html" target="_parent">考生须知</a> | </li>
							<li>
								<a href="../Home/TestDatePlan.html" target="_parent">考试时间</a> | </li>
							<li>
								<a href="../Home/RegisterFlow.html" target="_parent">报名流程</a> | </li>
							<li>
								<a href="../Home/CommonProblem.html" target="_parent">常见问题</a> | </li>
							<li>
								<a href="../Home/SpecialNotice.html" target="_parent">特别提示</a> | </li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="lanrenzhijia">
			<ul id="slides">
				<li style="background:url('http://resource.etest.net.cn/project/CET/images/lanrenzhijia01.png') no-repeat center top">
					<a href="#"></a>
				</li>

			</ul>
		</div>
		<div id="banner">
			<div id="banner_l" class="f_l" style="width:100%;margin-top:5px;margin-left:15px;">
				<img src="http://resource.etest.net.cn/project/CET/images/bz1.png" />
			</div>
		</div>
		<div style="height:0px; clear:both"></div>
		<div id="main">
			<div id="main_l">

				<a href="../Home/signUp.html" class="c_hei cet_banner01">
					<p class="f20">进入报名</p>
					<p class=" ">ENTRY</p>
				</a>

				<a href="../Home/register.html" class="c_hei cet_banner02">
					<p class="f20">注册新用户</p>
					<p class=" ">REGISTER NEW USER</p>
				</a>

				<a href="../Home/RetrieveAccount.html" class="c_hei cet_banner05">
					<p class="f20">找回已报名账号</p>
					<p class=" ">RETRIEVE ACCOUNT</p>
				</a>
				<a href="http://bbcjzm.neea.edu.cn/" class="c_hei cet_banner03" target="_blank">
					<p class="f20">补办成绩证明</p>
					<p class=" ">TRANSCRIPT COPY RE-ORDER</p>
				</a>

				<a href="../Home/testInfo" class="c_hei cet_banner06">
					<p class="f20">快速打印准考证</p>
					<p class=" ">PRINT TICKET</p>
				</a>

			</div>
			<div id="main_c">
				<div class="title_b">
					<a href="http://www.cet.edu.cn/"><img src="http://resource.etest.net.cn/project/CET/images/lun_d.png" width="300" height="345" alt="" /></a>
				</div>
				<!--270-->
			</div>
			<div id="main_r">
				<div class="title_b">
					<a href="#"><img src="http://resource.etest.net.cn/project/CET/images/news.jpg" width="380" height="40" alt="" /></a>
					<div style="padding:10px;" class="main_info_l">
						<h4>2018年上半年考试时间：</h4>
						<ul>
							<li>笔试：2018-06-16</li>
							<li>上午：英语、日语、德语、俄语、法语四级</li>
							<li>下午：英语、日语、德语、俄语六级</li>
							<li>口试：</li>
							<li>2018-5-19：英语四级 &nbsp; 2018-5-20：英语六级</li>
						</ul>
					</div>
					<hr class="hr_line" />
					<div style="padding:10px;line-height:1.8em;" class="main_info_l">
						<h4>2018年上半年考试报名提示</h4>
						<ul>
							<li>1：2018年上半年考试报名仅限北京、天津、河北、吉林、上海、安徽、福建、山东、河南、广西、海南、重庆、四川、云南、青海</li>
							<li>2：报名未开始前，考生可进行注册及学籍信息验证操作，具体报名时间以各学校通知为准。</li>
							<li>3：已完成CET4或CET6考试科目报名及缴费后，由于口语考位已满或暂未开放，可能会造成暂时无法报考对应口语科目，请随时再次登录系统进行查看。</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
		<div style="width:100% ;margin:2em 0;">
			<div id="footer">
				<div id="">
					<p>
						<span class="footer_title">COPYRIGHT 中华人民共和国教育部考试中心 All RIGHTS RESERVED</span><br /> 京ICP备05031027号 (Powered by :304730D)<br />
						<font color="red">建议浏览器：火狐浏览器、谷歌浏览器、IE9+、360浏览器（选择极速模式）</font><br />
					</p>
				</div>
			</div>
		</div>
	</body>

</html>