
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全国大学英语四、六级考试报名网</title>
    <link href="http://resource.etest.net.cn/project/CET/Content/ufo3.css?v=3.0" rel="stylesheet" type="text/css" />
    <link href="http://resource.etest.net.cn/project/CET/Content/lanrenzhijia.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://resource.etest.net.cn/project/CET/scripts/jquery.min.js"></script>
    
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b783c240a46ec85f773c7441178a1681";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7729f6cba7f441f2ed471a565f039627";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0466d8c557c7aabe83f440702897b498";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
    </script>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    
        #topdiv{
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: "微软雅黑", "宋体";
	color: #1f1e23;
	background:url(http://resource.etest.net.cn/project/CET/images/top_bg.jpg) repeat-x;
}
        #footer{width:980px; margin:0 auto; text-align:center; border-top:1px solid #666;}
#footer p{ font-size:12px; color:#666; font-family:Arial, "微软雅黑"; display:block;  margin-top:5px;}
.footer_title{ font-weight:bold; color:#666; font-size:14px; line-height:2em;}
    </style>
</head>
<body>



    <div id="topdiv">
        <div id="top">
            <div id="logo">
                <div id="" class="">
                    <ul id="logo_nav">
                        <li><a href="#">客服电话：</a></li>
                    </ul>
                </div>
                <div style="clear:both"></div>
                <div id="" class="huangs02">010-62987880</div>
            </div>
            <div id="nav">
                <div id="" style="width:980px; text-align:center;">
                    <ul class="">
                         <li style="padding-right:0px;"><a href="#" target="_parent" style="padding-top:3px;"><img src="../img/home.png" width="16" height="14" alt="" /></a></li>
                    <li style="padding-left:0px;"><a href="../Home/index.html" target="_parent">首页</a> | </li>
                    <li><a href="../Home/ExamIntroduction.html" target="_parent">考试简介</a> | </li>
                    <li><a href="../Home/CandidateNotice.html" target="_parent">考生须知</a> | </li>
                    <li><a href="../Home/TestDatePlan.html" target="_parent">考试时间</a> | </li>
                    <li><a href="../Home/RegisterFlow.html" target="_parent">报名流程</a> | </li>
                    <li><a href="../Home/CommonProblem.html" target="_parent">常见问题</a> | </li>
                    <li><a href="../Home/SpecialNotice.html" target="_parent">特别提示</a> | </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    


<link href="http://resource.etest.net.cn/project/CET/Assets/global/plugins/bootstrap-validator/css/bootstrapValidator.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://resource.etest.net.cn/project/CET/jquery-easyui/themes/ap/easyui.css"/>

<script src="http://resource.etest.net.cn/project/CET/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://resource.etest.net.cn/project/CET/jquery-easyui/jquery.easyui.min.js"></script>
<script src="http://resource.etest.net.cn/project/CET/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>

<script src="http://resource.etest.net.cn/project/CET/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://resource.etest.net.cn/project/CET/Assets/global/plugins/bootstrap-validator/bootstrap-validator.min.js"></script>
<script src="http://resource.etest.net.cn/project/CET/Assets/global/plugins/bootstrap-validator/language/zh_CN.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<div id="main" style="font-size: 14px;background-color:#fff;">

    <div width="74%" align="center" style="margin: 10px 13%; line-height: 2em; height: 2em;padding-bottom:20px;">
        <p align="center" style="color: #212963; font-size: 24px; font-weight: bolder; border-bottom: 1px solid #d580be;padding-bottom: 13px;">
            2018年6月份考试已报名账号找回
        </p>
    </div>
    <div width="60%" align="center" style="margin: 10px 20%; line-height: 2.5em; ">
        <div id="submitDIV">
            <form id="form1">
               
                <table border="0" style="width:500px" cellpadding="2" cellspacing="10">
                    <tr>
                        <td class="firstTD">省份：</td>
                        <td class="secondTD">
                            <div class="form-group" style="color:#d59392;">
                                <select id="selProvince" name="provinceCode" class="input_out" style="width:85%;height:24px;" autocomplete="off">
                                    <option value="">- 请选择 -</option>
                                        <option value="11">北京市</option>
                                        <option value="12">天津市</option>
                                        <option value="13">河北省</option>
                                        <option value="22">吉林省</option>
                                        <option value="31">上海市</option>
                                        <option value="34">安徽省</option>
                                        <option value="35">福建省</option>
                                        <option value="37">山东省</option>
                                        <option value="41">河南省</option>
                                        <option value="42">湖北省</option>
                                        <option value="45">广西壮族自治区</option>
                                        <option value="46">海南省</option>
                                        <option value="50">重庆市</option>
                                        <option value="51">四川省</option>
                                        <option value="53">云南省</option>
                                        <option value="62">甘肃省</option>
                                        <option value="63">青海省</option>
                                        <option value="82">澳门特别行政区</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="firstTD">证件类型：</td>
                        <td class="secondTD">
                            <div class="form-group" style="color:#d59392;">
                                <select id="selIDType" name="IDTypeCode" class="input_out" style="width:85%;height:24px;" autocomplete="off">
                                    <option value="">- 请选择 -</option>
                                        <option value="1">中华人民共和国居民身份证</option>
                                        <option value="2">台湾居民往来大陆通行证</option>
                                        <option value="3">港澳居民来往内地通行证</option>
                                        <option value="4">护照</option>
                                        <option value="5">香港身份证</option>
                                        <option value="6">澳门身份证</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="firstTD">证件号码：</td>
                        <td class="secondTD">
                            <div class="form-group" style="color:#d59392;">
                                <input type="text" id="txtIDNumber" name="IDNumber" class="input_out" style="width:85%;height:24px;" autocomplete="off"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="firstTD">姓名：</td>
                        <td class="secondTD">
                            <div class="form-group" style="color:#d59392;">
                                <input id="txtName" name="Name" type="text" class="input_out" style="width:85%;height:24px;" autocomplete="off" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="firstTD">验证码：</td>
                        <td class="secondTD">
                            <div class="form-group" style="float:left;color:#d59392;text-align:center;">
                                <table style="float:left;">
                                    <tr>
                                        <td><input id="txtVerificationCode" name="verificationCode" type="text" class="input_out" maxlength="4" style="width: 85px;height:24px;" autocomplete="off" /></td>
                                        <td><img id="vcodeImg" alt="点击刷新" title="看不清？点击刷新" style="cursor:pointer;color:grey;" onclick="refreshImg()" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <div class="form-actions">
                                <button onclick="return retrieveAccount();" id="ibtnLogin" name="ibtnLogin" onmousemove="this.className = 'button_onmousemove'" onmouseout="this.className = 'button_onmouseout'" class="submit_button">
                                    提　交
                                </button>
                                                            
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="resultDIV" style="display:none;border: 1px solid #b6ff00;">
            <h3>您的通行证账号为：<span id="txtAccountShow"></span></h3>
        </div>
    </div> 
</div>


<script type="text/javascript">
  

    $(function () {
        $("#vcodeImg").attr("src", "../Home/VerifyCodeImg?a=" + Math.random());
    });

    function refreshImg() {     
        $("#vcodeImg").attr("src", "../Home/VerifyCodeImg?a=" + Math.random()); 
    }
    function retrieveAccount() {       
        $("#txtAccountShow").text('');
        
        if (!$('#selProvince option:selected').val()) {
            $.messager.alert('提示', "请选择省份！", 'error');
            return false;
        }

        if (!$('#selIDType option:selected').val()) {
            $.messager.alert('提示', "请选择证件类型！", 'error');
            return false;
        }

        if (!$('#txtIDNumber').val()) {
            $.messager.alert('提示', "请输入证件号码！", 'error');
            return false;
        }

        var reg = /^[a-zA-Z0-9]{0,31}$/;
        if (!reg.test($('#txtIDNumber').val())) {
            $.messager.alert('提示', "请输入正确的证件号码！", 'error');
            return false;
        }
        if (!$('#txtName').val()) {
            $.messager.alert('提示', "请输入姓名！", 'error');
            return false;
        }
        
        if (!$('#txtVerificationCode').val()) {
            $.messager.alert('提示', "请输入验证码！", 'error');
            return false;
        }

        
        $.ajax({
            type: "post",
            async: false,
            beforeSend: function (XMLHttpRequest) {
            },
            url: '../Home/ToRetrieveAccount',
            data: $('#form1').serialize(),
            success: function (data) {
                switch (data.ExceuteResultType) {
                    case -1:
                        $.messager.alert('提示', data.Message, 'error');
                        $("#vcodeImg").attr("src", "../Home/VerifyCodeImg?a=" + Math.random());
                        break;
                    case 0:
                        $.messager.alert('提示', '找回无结果！', 'error');                      
                        $("#vcodeImg").attr("src", "../Home/VerifyCodeImg?a=" + Math.random());
                        break;
                    case 1:
                        $.messager.alert('提示', '找回成功！', 'info');
                        $("#txtAccountShow").text(data.Message);
                        $("#submitDIV").hide();
                        $("#resultDIV").show();
                        break;
                }
            },
            error: function (data) {
                $.messager.alert('提示', '找回失败，错误信息：' + data.responseJSON.Message, 'error');
                $("#vcodeImg").attr("src", "../Home/VerifyCodeImg?a=" + Math.random());
            }
        });
        return false;
    };
</script>
<style type="text/css">
    .firstTD {
        width:80px;
        text-align:right;
    }
    .secondTD {
        text-align:left;
    }   
    /*input*/
    .input_on {
        border: 1px solid #999; /*999*/
        background-color: #FFFFCC;
    }

    .input_off {
        border: 1px solid #adadad; /*#CCC*/
        background-color: #FFF;
    }

    .input_move {
        cursor: pointer;
        border: 1px solid #999; /*#999*/
        -webkit-box-shadow: 0px 0px 2px #007eff;
        -moz-box-shadow: 0px 0px 2px #007eff;
        box-shadow: 0px 0px 2px #007eff;
        background-color: #FFFFCC;
    }

    .input_move_noShadow {
        cursor: pointer;
        border: 1px solid #999; /*#999*/
        background-color: #FFFFCC;
    }

    .input_out {
        /*height: 18px;*/
        border: 1px solid #ccc;
        background-color: #FFF;
    }   
     .submit_button, .button_onmouseout{ width:86px; height:26px; background: url(../images/button_01.jpg) no-repeat 0 0; border:0; color:#FFF; line-height:26px; font:14px "微软雅黑", "宋体";}
.button_onmousemove{width:86px; height:26px; background: url(../images/button_02.jpg) no-repeat 0 0; border:0; color:#FFF; line-height:26px; font:14px "微软雅黑", "宋体";}

</style>































    <div style="clear:both;"></div>
    <div style="width:100% ;margin:2em 0;">
        <div id="footer">
            <div id="">
                <p>
                    <span class="footer_title">COPYRIGHT 中华人民共和国教育部考试中心 All RIGHTS RESERVED</span><br />
                    京ICP备05031027号 (Powered by :757075F)<br /><font color="red">建议浏览器：火狐浏览器、谷歌浏览器、IE9+、360浏览器（选择极速模式）</font><br />
                </p>
            </div>
        </div>
    </div>
</body>
</html>